<%- include('./partials/header.ejs') %>

<ul>
	<% for (const recipe of recipes) { %>
	<li>
		<a href="/recipes/<%= recipe.name %>"> <%= recipe.name %> </a>
	</li>
	<% } %>
</ul>

<%- include('./partials/footer.ejs') %>
