<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Bienvenue sur Onigiri Cocktails !</title>
		<link rel="stylesheet" href="/css/style.css" />
		<script type="module" src="/js/search.js"></script>
	</head>
	<body>
		<h1>Onigiri Cocktails</h1>
		<header>
			<nav>
				<a href="/">Accueil</a>
				<a href="/addCocktail">Ajouter un cocktail</a>
				<a href="/search">Recherche</a>
			</nav>
		</header>
	</body>
</html>
