<%- include("partials/header") %>

<!-- formulaire d'ajout d'un cocktail -->
<form action="" method="post">
    <input type="text" name="name" id="name">
    <button type="submit">ajouter</button>
</form>

<%- include("partials/footer") %>